/*forside*/
body{
	width:100%;
	background-color:#555453;
}
.baggrund{
	background-image:url(../images/baggrund.jpg);
	width:96%;
	margin-left:2%;
	margin-top:2%;
	background-repeat:repeat-y;
}
.logo{
	width:90%;
	margin-left:5%;
	margin-top:2%;
}
/*slider*/
	.container{
	width: 100%;
	height: 250px;
	position: relative;
	overflow:hidden;
	margin-top:2%;
	}
	.container div{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0%;
	left: 0%;
	font-size:400%;
	text-align:center;
	}
	.container img{
		max-width:420px;
	}
	#first{
	opacity: 1;
	-webkit-animation: slide_first 20s linear infinite;
	}
	#second{
	opacity: 0;
	-webkit-animation: slide_second 20s linear infinite;
	}
	#third{
	opacity: 0;
	-webkit-animation: slide_third 20s linear infinite;
	}
	#fourth{
	opacity: 0;
	-webkit-animation: slide_fourth 20s linear infinite;
	}

	@-webkit-keyframes slide_first{
	0% { opacity: 1; left: 0%; }
	20% { opacity: 1; left: 0%;}
	25% { opacity: 0; left: -100%;}
	95% { opacity: 0; left: 0%;}
	100% { opacity: 1; left: 0%;}
	}

	@-webkit-keyframes slide_second{
	0% { opacity: 0; left: -100%;}
	20% { opacity: 0; left: 0%;}
	25% { opacity: 1; left: 0%;}
	45% { opacity: 1; left: 0%;}
	50% { opacity: 0;left: -100%;}
	100% { opacity: 0; left: -100%;}
	}

	@-webkit-keyframes slide_third{
	0% { opacity: 0; left: -100%;}
	45% { opacity: 0; left: 0%;}
	50% { opacity: 1; left: 0%;}
	70% { opacity: 1; left: 0%;}
	75% { opacity: 0;left: -100%;}
	100% { opacity: 0; left: -100%;}
	}

	@-webkit-keyframes slide_fourth{
	0% { opacity: 0; left: -100%;}
	70% { opacity: 0; left: 0%;}
	75% { opacity: 1; left: 0%;}
	95% { opacity: 1; left: 0%;}
	100% { opacity: 0; left: -100%;}
	}
/*Forsideknapper*/
.storknap{
	width:40%;
	float:left;
	margin:0 5% 3% 5%;
	background-color:#555453;
	height:60px;
	border-radius:10px;
	padding-top:26px;		
}

.forsideknap{
	display:block;
	width:100%;
	text-decoration:none;
	text-align:center;
	color:#fff;
	font-family: 'Source Sans Pro', sans-serif;
	font-size:24px;
}
.forsideknapbund{
	display:block;
	width:100%;
	text-decoration:none;
	text-align:center;
	color:#fff;
	font-family: 'Source Sans Pro', sans-serif;
	font-size:20px;
}
/*Header undersider*/
.logounderside{
	margin-top:2%;
	margin-left:1%;
}
<<<<<<< HEAD
/*overskrift på undersider*/
.overskrift{
	font-family: 'Source Sans Pro', sans-serif;
	font-size:40px;
	margin-top:2%;
	margin-left:3%;
}
/*baggrund på undersider*/
.box{
	background-color:rgba(0,0,0,0.5);
	padding-bottom:2%;
	margin:2% 5% 2% 5%;
	width:90%;
}
.margin{
	height:10px;
	margin-top:2%;
	padding-top:2%;
}
/*kontaktside*/
#formular{
=======
/*Kontaktside*/
.kontaktoverskrift{
	font-family: 'Source Sans Pro', sans-serif;
	font-size:24px;
	margin-left:1%;
	margin-top:2%;
}
.centerinfo{
	font-family: 'Source Sans Pro', sans-serif;
	font-size:18px;
	color:#000;
	text-decoration:none;
>>>>>>> b4608c385c320bf8e887cef5b9c72ddd6c134033
	margin-left:1%;
}
label, input,selct{
	float:left;
}
label{
	clear:both;
	width:150px;
	text-align:right;
	margin-left
	font-family: 'Source Sans Pro', sans-serif;
	color:#000;
}
form{
	margin:1em;
	overflow:hidden;
	width:400px;
	padding:0.5em;
}
#submitknap{
	margin-top:5px;
	background-color: #555354;
	color:#fff;
	height:40px;
	font-size:16px;
	width:204px;
	padding-bottom:4px;
}
input{
	width:200px;
	height:25px;
	margin-bottom:5px;
	border:1px #000 solid;
	margin-left:15%;
}
textarea{
	width:200px;
	height:200px;
	border: 1px #000 solid;
	margin-left:15%;
}
<<<<<<< HEAD
/*events.php*/
=======
/*Modtaget siden*/
.modtaget{
	font-family: 'Source Sans Pro', sans-serif;
	font-size:24px;
	color:#000;
	padding:7% 0 15% 1%; 
}
/*Eventside*/
>>>>>>> b4608c385c320bf8e887cef5b9c72ddd6c134033
.eventimg{
	width:168px;
	padding-left:3%;
	padding-top:2%;
}
.streg{
	width:90%;
	border-top: solid 2px #555453;
	margin-top:1%;
	background-color:rgba(0,0,0,0.5);
	margin-left:5%;
	margin-right:5%;
}
.eventoverskrift{
	font-family: 'Source Sans Pro', sans-serif;
	font-size:24px;
	margin-bottom:0.7%;
	margin-left:3%;
	color:#ffae3d;
}
.eventtekst{
	font-family: 'Source Sans Pro', sans-serif;
	font-size:18px;
	color:#dcdcdc;
	text-decoration:none;
	margin-left:3%;
	padding-bottom:1%;
}

/*kort.php*/
.kortoverskrift{
	font-family: 'Source Sans Pro', sans-serif;
	font-size:20px;
	border-top: solid 2px #555453;
	margin-left:2%;
	margin-top:1%;
	padding-top:1%;
}
.plan45{
	margin-top:2%;
	margin-left:2%;
	max-width:400px;
	width:100%;
	height:auto;
	padding-bottom:3%;
	display:block;
}
/* butikker.php*/
#menu{
	width:80%;
	background-color:rgba(0,0,0,0.7);
	margin:2% 10% 2% 10%;
}
.menupunkt{
	font-family: 'Source Sans Pro', sans-serif;
	text-decoration:none;
	font-size:24px;
	color:#ffae3d;
	margin-left:3%;
	height:30px;
	padding-top:2%;
}
.undermenupunkt{
	font-family: 'Source Sans Pro', sans-serif;
	text-decoration:none;
	font-size:18px;
	color:#c7c794;
	margin-left:5%;
	height:0;
	padding-bottom:3%;
}
.undermenu{
	/*height:0;*/
	transition: 1s ease-in;
}
<<<<<<< HEAD
a{
	width:100%;
	display:block;
}
.undermenu:target{
	height:auto;
}
/*
.undermenu{
	height: 0px;
	transition: 1s ease-in;
}

a{
	width: 100%;
	display: block;
}

a.menupunkt{
	background-color:#292929;
	color: #fff;
	height: 30px;
	font-family: 'Source Sans Pro', sans-serif;
	text-decoration:none;
	font-size:24px;
}

a.undermenupunkt{
	background-color:#f90;
	color: #CCC;
	height: 0px;
	transition: 0.3s ease-in;
	font-family: 'Source Sans Pro', sans-serif;
	text-decoration:none;
	font-size:18px;
}

.undermenu:target{
	height: auto;
}

.undermenu:target a{
	height: 30px;
}

#boxundermenuen{
	background-color:#292929;
	width: 200px;
	margin: 0 0 0 10px;
	height: 500px;
}*/
/*vis_butik*/
.butiktekst{
=======
/*Find vej*/
#findvejoverskrift{
	font-family: 'Source Sans Pro', sans-serif;
	font-size:24px;
	margin-bottom:2%;
	margin-left:3%;
	margin-top:4%;
}
.findvejtekst{
>>>>>>> b4608c385c320bf8e887cef5b9c72ddd6c134033
	font-family: 'Source Sans Pro', sans-serif;
	font-size:18px;
	color:#000;
	text-decoration:none;
<<<<<<< HEAD
}
/* åbningstider.php*/
.tabeloverskrift{
	font-family: 'Source Sans Pro', sans-serif;
	font-size:20px;
}
#tabel{
	padding-top:2%;
	border-top: solid 2px #555453;
	margin-top:1%;
	width:80%;
	margin-left:10%;
}
tr th{
	font-family: 'Source Sans Pro', sans-serif;
	font-size:16px;
	margin-left:2%;
	margin-top:1%;
}

=======
	margin-left:3%;
}
#pil{
	width:40%;
	float:left;
}
#mapskort{
	width:40%;
	float:left;
	margin-left:10%;
	margin-top:5%;
	padding-bottom:10%;
}
>>>>>>> b4608c385c320bf8e887cef5b9c72ddd6c134033
