/*forside*/
body{
	width:100%;
	background-color:#555453;
}
.baggrund{
	background-image:url(../images/baggrund.jpg);
	width:96%;
	margin-left:2%;
	margin-top:2%;
	background-repeat:repeat-y;
}
.logo{
	width:90%;
	margin-left:5%;
	margin-top:2%;
}
/*slider*/
	.container{
	width: 100%;
	height: 250px;
	position: relative;
	overflow:hidden;
	margin-top:2%;
	}

	.container div{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0%;
	left: 0%;
	font-size:400%;
	text-align:center;
	}
	.container img{
		max-width:420px;
	}

	#first{
	opacity: 1;
	-webkit-animation: slide_first 20s linear infinite;
	}

	#second{
	opacity: 0;
	-webkit-animation: slide_second 20s linear infinite;
	}

	#third{
	opacity: 0;
	-webkit-animation: slide_third 20s linear infinite;
	}

	#fourth{
	opacity: 0;
	-webkit-animation: slide_fourth 20s linear infinite;
	}


	@-webkit-keyframes slide_first{
	0% { opacity: 1; left: 0%; }
	20% { opacity: 1; left: 0%;}
	25% { opacity: 0; left: -100%;}
	95% { opacity: 0; left: 0%;}
	100% { opacity: 1; left: 0%;}
	}

	@-webkit-keyframes slide_second{
	0% { opacity: 0; left: -100%;}
	20% { opacity: 0; left: 0%;}
	25% { opacity: 1; left: 0%;}
	45% { opacity: 1; left: 0%;}
	50% { opacity: 0;left: -100%;}
	100% { opacity: 0; left: -100%;}
	}

	@-webkit-keyframes slide_third{
	0% { opacity: 0; left: -100%;}
	45% { opacity: 0; left: 0%;}
	50% { opacity: 1; left: 0%;}
	70% { opacity: 1; left: 0%;}
	75% { opacity: 0;left: -100%;}
	100% { opacity: 0; left: -100%;}
	}

	@-webkit-keyframes slide_fourth{
	0% { opacity: 0; left: -100%;}
	70% { opacity: 0; left: 0%;}
	75% { opacity: 1; left: 0%;}
	95% { opacity: 1; left: 0%;}
	100% { opacity: 0; left: -100%;}
	}
/*Forsideknapper*/
.storknap{
	width:40%;
	float:left;
	margin:0 5% 3% 5%;
	background-color:#555453;
	height:60px;
	border-radius:10px;
	padding-top:26px;		
}

.forsideknap{
	display:block;
	width:100%;
	text-decoration:none;
	text-align:center;
	color:#fff;
	font-family: 'Source Sans Pro', sans-serif;
	font-size:24px;
}
.forsideknapbund{
	display:block;
	width:100%;
	text-decoration:none;
	text-align:center;
	color:#fff;
	font-family: 'Source Sans Pro', sans-serif;
	font-size:20px;
}
/*Header undersider*/
.logounderside{
	margin-top:2%;
	margin-left:1%;
}
/*kontaktside*/
#formular{
	margin-left:1%;
}
label, input, select{
	float:left;
}

label{
	clear:both;
	width:150px;
	text-align:right;
	margin-right:5px;
	padding-top:6px;
	font-family: 'Source Sans Pro', sans-serif;
	color:#FFF;
}

form{
	margin:1em;
	overflow:hidden;
	width:400px;
	padding:0.5em;
}

#submitknap{
	margin-top:5px;
	background-color: #555354;
	color:#fff;
	height:40px;
	font-size:16px;
	width:204px;
	padding-bottom:4px;
	
}

input{
	width:200px;
	height:25px;
	margin-bottom:5px;
	border:1px #000 solid;
}

textarea{
	width:200px;
	height:200px;
	border: 1px #000 solid;
}
/*Eventside*/
.eventimg{
	width:168px;
	padding-left:3%;
	padding-top:2%;
}
.streg{
	width:100%;
	border-top: solid 2px #555453;
	margin-top:1%;
}
.eventoverskrift{
	font-family: 'Source Sans Pro', sans-serif;
	font-size:24px;
	margin-bottom:0.5%;
	margin-left:3%;
}
.eventtekst{
	font-family: 'Source Sans Pro', sans-serif;
	font-size:18px;
	color:#000;
	text-decoration:none;
	margin-left:3%;
}
